/* 
Основной цвет текста - #757575
Вторичный цвет текста - #212121
Основной цвет фона -    #FFFFFF
Вторичный цвет фона - #2F303A
Цвет акцента - #2196F3 */

/* :root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
  --backround-color: #f5f4fa;
  --social-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* Основные параметры body */
/* body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


/* .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
} */
/* .header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
} */

/* .navigation {
  display: flex;
  align-items: center;
} */

/* Лого Хедер и первая часть для Футера */
/* .logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
}
/* Лого футер */
/* .logo--white {
  color: var(--backround-color);
} */

/* .logo--black {
  color: #000;
} */

/* .link {
  text-decoration: none;
} */

/* Хедер */

/* .navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  display: block;
  padding: 32px 0px;
  position: relative;
  transition: color 250ms var(--time-function);
}

.navigation__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  margin-left: auto;
  list-style: none;
  display: flex;
}

.navigation__link--current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current {
  color: var(--accent-color);
}

.contacts__link {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 32px 0px;
  align-items: center;
  transition: color 250ms var(--time-function);
}

.contacts__img {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.navigation__list {
  list-style: none;
  display: flex;
  margin-left: 93px;
} */

/* Оформление героя
.hero {
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.background {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/backround.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hero__title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*Кнопка герой */
/* .hero__button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-bg-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  display: inline-block;
  border-color: transparent;
  padding: 10px 32px;
}
*/

/* Особенности */
/* .properties__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.properties__wrapper {
  display: inline-flex;
  background-color: var(--backround-color);
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.properties__list {
  list-style: none;
  display: flex;
}

.properties__item:not(:last-child) {
  margin-right: 30px;
}

.properties__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  width: 270px;
}

.properties__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}

.properties__headline--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} */
/* Чем мы занимаемся */
/* .works__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.works {
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.works__list {
  list-style: none;
  display: flex;
}
.works__item:not(:last-child) {
  margin-right: 30px;
}
.works__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works__description {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--backround-color);
} */

/* Команда */
/* .team {
  background-color: var(--backround-color);
}

.team__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.team__list {
  list-style: none;
  display: flex;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
}
.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
} */

/* .social__link {
  display: flex;
  color: var(--social-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: currentColor;
}

.social__link:hover,
.social__link:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
} */

/* .team__item:not(:last-child) {
  margin-right: 30px;
} */

/* .social__icon {
  fill: currentColor;
} */

/* Клиенты */
/* .clients__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__link {
  color: var(--social-color);
  display: flex;
  height: 92px;
  width: 170px;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  transition: fill 250ms var(--time-function), border-color 250ms var(--time-function);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
} */

/* .social__link--white {
  display: flex;
  color: var(--primary-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: currentColor;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--time-function);
}

.social__link--white:hover,
.social__link--white:focus {
  background-color: var(--accent-color);
} */
/* Футер */

/* .footer {
  background-color: var(--secondary-bg-color);
  padding: 60px 0px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__content {
  flex-grow: 1;
  margin-right: 70px;
}
/* Адресс Футер */
/* .adress {
  font-style: normal;
  margin-top: 20px;
}

.adress__street {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
.adress__list {
  list-style: none;
}
.adress__mail,
.adress__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--time-function);
  text-decoration: none;
}
.adress__mail:hover,
.adress__mail:focus,
.adress__tel:hover,
.adress__tel:focus {
  color: var(--accent-color);
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.subscribe__title {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}


.signup {
  margin-left: 93px;
}
.signup__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}

.signup__form {
  display: inline-flex;
}

.signup__input {
  display: flex;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--primary-bg-color);
  outline: none;
}

.signup__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  fill: currentColor;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  margin-left: 12px;
  cursor: pointer;
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
}
.signup__button:hover,
.ignup__button:focus {
  background-color: var(--backround-color);
  color: var(--accent-color);
}

.submit__img {
  margin-left: 10px;
} */

/* Мейн портфолио */

/* .container__headline {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.container__headline--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} */
/* Оформление кнопок портфолио */
/* .filter {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-bottom: 50px;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  transition: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.filter__button--current {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__item:not(:last-child):not(:last-child) {
  margin-right: 8px;
}

.filter__button:hover,
.filter__button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
} */

/* Оформление примеров работ Портфолио */
/* .examples__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.examples__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms var(--time-function);
}

.examples__link:hover,
.examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.examples {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.examples__item {
  margin-left: 30px;
  margin-bottom: 30px;
}

.examples__content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__thumb .examples__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--backround-color);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--time-function);
}

.examples__link:hover .examples__info,
.examples__link:focus .examples__info {
  transform: translateY(0);
} */
/* Бекдроп+модалка */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--time-function), visibility 250ms var(--time-function);
  z-index: 10;
  backdrop-filter: blur(1px);
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  top: 50%;
  left: 50%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
  transform: translate(-50%, -50%) rotate(360deg);
  padding: 40px;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  display: flex;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  background: var(--primary-bg-color);
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 250ms var(--time-function), fill 250ms var(--time-function);
}

.modal__close:hover,
.modal__close:focus {
  transform: rotate(-90deg);
  fill: var(--accent-color);
}

.modal__headline {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
} */
/* 
.form-feedback {
  margin-top: 12px;
}

.form-input {
  display: block;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-input__icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
  fill: inherit;
  transition: fill 250ms var(--time-function);
}

.form-input__message,
.comment__msg {
  width: 100%;
  height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 44px;
  font: inherit;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--time-function);
  outline: none;
  cursor: pointer;
}

.form-input__message:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-input__message:focus + .form-input__icon {
  fill: var(--accent-color);
}

.comment__msg {
  display: block;
  resize: none;
  min-height: 120px;
  padding: 16px 12px;
  font: inherit;
  color: rgba(117, 117, 117, 0.5);
  transition: color 250ms var(--time-function);
}
.form-message:focus {
  border: 1px solid var(--accent-color);
  color: var(--secondary-text-color);
}

.comment {
  margin-bottom: 20px;
}

.comment__label {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.policy__box {
  font-size: 14px;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy:checked + .policy__box::before {
  background-color: var(--accent-color);
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid var(--accent-color);
  outline: none;
}

.policy__box::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
}

.policy__box a {
  color: var(--accent-color);
  text-decoration: underline;
}
.form-submit-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border: none;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 250ms var(--time-function), background 250ms var(--time-function);
}

.form-submit-btn:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
