.clients__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: $letter-spacing;
  color: $secondary-text-color;
  margin-bottom: 50px;
}

.clients__list {
  @include flexed;
}

.clients__link {
  color: $social-color;
  @include flexed;
  height: 92px;
  width: 170px;
  border: 1px solid $social-color;
  border-radius: 4px;
  fill: currentColor;
  transition: fill $transition-duration $time-function,
    border-color $transition-duration $time-function;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.clients__item {
  width: 170px;
  height: 92px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
