.form-feedback {
  margin-top: 12px;
}

.form-input {
  display: block;
  color: $primary-text-color;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-input__icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
  fill: inherit;
  transition: fill $transition-duration $time-function;
  .form-input__message:focus + & {
    fill: $accent-color;
  }
}

.form-input__message {
  width: 100%;
  height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 44px;
  font: inherit;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $transition-duration $time-function;
  outline: none;
  cursor: pointer;
  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
}

.comment__msg {
  width: 100%;
  height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 44px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $transition-duration $time-function, color $transition-duration $time-function;
  outline: none;
  cursor: pointer;
  display: block;
  resize: none;
  min-height: 120px;
  padding: 16px 12px;
  font: inherit;
  color: rgba(117, 117, 117, 0.5);
  &:focus {
    border: 1px solid $accent-color;
    color: $secondary-text-color;
  }
}

.comment {
  margin-bottom: 20px;
}

.comment__label {
  color: $primary-text-color;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.policy__box {
  font-size: 14px;
  color: $primary-text-color;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
  }
}

.policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy:checked + .policy__box::before {
  background-color: $accent-color;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid $accent-color;
  outline: none;
}

.policy__link {
  color: $accent-color;
  text-decoration: underline;
}
.form-submit-btn {
  width: 200px;
  height: 50px;
  background-color: $accent-color;
  color: $primary-bg-color;
  border: none;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow $transition-duration $time-function,
    background $transition-duration $time-function;
  &:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
