.logo {
  font-family: $secondary-font;
  color: $accent-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
}

.logo--black {
  color: #000;
}

.logo--white {
  color: $backround-color;
}
