//Colors
$primary-text-color: #757575;
$secondary-text-color: #212121;
$primary-bg-color: #fff;
$secondary-bg-color: #2f303a;
$accent-color: #2196f3;
$backround-color: #f5f4fa;
$social-color: #afb1b8;

// Time function
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

// Fonts
$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$letter-spacing: 0.03em;
